{{- if and .Values.valkey.enabled .Values.valkey.auth.enabled (not .Values.valkey.auth.existingSecret) -}}
{{- $secretName := printf "%s-valkey" (include "colanode.fullname" .) -}}
{{- $secret := lookup "v1" "Secret" .Release.Namespace $secretName -}}
{{- $password := "" -}}
{{- if $secret -}}
  {{- $password = index $secret.data .Values.valkey.auth.passwordKey | b64dec -}}
{{- else if .Values.valkey.auth.password -}}
  {{- $password = .Values.valkey.auth.password -}}
{{- else -}}
  {{- $password = randAlphaNum 32 -}}
{{- end -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $secretName }}
  labels:
    {{- include "colanode.labels" . | nindent 4 }}
    app.kubernetes.io/component: valkey
type: Opaque
data:
  {{ .Values.valkey.auth.passwordKey }}: {{ $password | b64enc | quote }}
{{- end }} 